<%= form_tag "/questions", class: "navbar-form", method: :post do %>

<div class="col-md-6">
  <div class="form-group">
  <input type="text" name="name" class="form-control input-box" placeholder="name ...">
  </div>

  <div class="form-group">
    <input type="email" class="form-control input-box" placeholder="email ..." name="email">
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <input type="text" class="form-control input-box" placeholder="phone ..." name="phone">
  </div>

  <div class="form-group">
    <input type="text" class="form-control input-box" placeholder="company website ..." name="web">
  </div>
</div>          

<div class="col-xs-12">
  <div class="form-group">
    <textarea type="text" class="form-control contactus-textarea" name="body" placeholder="type your message ..." style="width: 445px;"></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="w3-button w3-round-xlarge submit-button">Send</button>
  </div>
</div>
<% end %>