<%= form_tag "/questions", class: "form-horizontal", method: :post do %>
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputEmail" placeholder="Name" type="text" required="required" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputEmail" placeholder="Email" type="email" required="required" name="email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputPassword" placeholder="078...." type="integer" name="phone">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Type your question!</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name="body"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Web Address</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputEmail" placeholder="www.yourweb.com" type="url" name="web">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn-gradient orange mini">Cancel</button>
        <button type="submit" class="btn-gradient cyan mini">Submit</button>
      </div>
    </div>
  </fieldset>
<% end %>
