<!-- services -->
<div class="col-md-2"></div>
  <div class="col-md-9 col-xs-12">
    <div class="text-center">
      <h1 class="text-center page-title"><b>Services</b></h1>

      <div class="col-md-3 thumbnail service-box">       
        <br>
        <div class="glyphicon glyphicon-briefcase service-icon"></div>
        <hr>
        <h2 class="service-title">Developping & designing both static and dynamic websites</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-education service-icon" title="Education Services"></div>
        <hr>
        <h2 class="service-title">Building Learning Platforms</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-lamp service-icon" title="Developping & designing Static and Dynamic Websites"></div>
        <hr>
        <h2 class="service-title">Building organisations' Platorms</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-book service-icon" title="Online Library"></div>
        <hr>
        <h2 class="service-title">Building Online Libraries</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-shopping-cart service-icon" title="Developping & designing Static and Dynamic Websites service-icon"></div>
        <hr>
        <h2 class="service-title">Building E-commerce Apps</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-user service-icon" title="Education Services"></div>
        <hr>
        <h2 class="service-title">Building Personal Websites</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-comment service-icon" title="Developping & designing Static and Dynamic Websites"></div>
        <hr>
        <h2 class="service-title">Building Social Media Apps</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">        
        <br>
        <div class="glyphicon glyphicon-briefcase service-icon"></div>
        <hr>
        <h2 class="service-title">Building Web apps for any Idea!!</h2>
      </div>

      <div class="col-md-3 thumbnail service-box">
        <br>
        <div class="glyphicon glyphicon-book service-icon" title="Online Library"></div>
        <hr>
        <h2 class="service-title">Building Applications for Community Betterments</h2>        
      </div>

    </div>
  </div>

  <!-- media feeds -->
  <%= render "pages/media" %>

</div>