<div class="col-md-2 col-xs-12 thumbnail media-feeds visible-md-block">

  <a href="https://twitter.com/NexPals" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @NexPals</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     <a class="twitter-timeline" data-lang="en" data-height="500" href="https://twitter.com/NexPals">Tweets by NexPals</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div> 