<div class="row">
  <div class="col-md-12 aboutus-background"></div>

  <div class="col-md-6">
    <h1 class="aboutus-subtitle"><b>Mission </b></h1>
    <hr>
    <div class="text-center">
    <h3 class="fa fa-quote-left fa-4x"></h3>
    <h3 class="statement">Creating communication paths for everyone in need via sotware development</h3>
    </div>
    <br>
  
    <h1 class="aboutus-subtitle"><b>Vision</b></h1>
    <hr>
    <h3 class="statement">“Become a software development icon company in Africa”
</h3>
    <br>

  </div>

  <div class="col-md-6">
    <h1 class="aboutus-subtitle"><b>Values </b></h1>
    <hr>
    <h3 class="statement">This is what to expect from us:</h3>
    <br>
    <ul>
    <h4 class="statement">Customer care</h4>
    <h4 class="statement">Professionalism</h4>
    <h4 class="statement">Creativity</h4>
    <h4 class="statement">Critical Thinking</h4>
    <h4 class="statement">Determination</h4>
    <h4 class="statement">Time Management</h4>
    <h4 class="statement">Accountability</h4>
    <h4 class="statement">Integrity</h4>
    <h4 class="statement">Empathy</h4>
    <h4 class="statement">Problem Solving</h4>
    </ul>
    <br>

  </div>

  </div>

  <!-- media feeds -->
  <%= render "pages/media" %>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>                
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>                
            </div>
        </div>


        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>                
            </div>
        </div>

    </div>
</div>




