<div class="row">


  <div class="col-md-12 aboutus-background"></div>


<div class="col-md-9">

  <h1 style="color: #008080; text-align: center;"><b>Who we are</b></h1> <hr>
  <h3 style="text-align: center; padding: 25px;">Describe NexPals, how it has started (more of its background)</h3>
  <br>

  <h1 style="color: #008080; text-align: center;"><b>Our Mission</b></h1>
  <hr>

  <h3 style="text-align: center; padding: 25px;">Mission statement here</h3>
  <br>
  

  <h1 style="color: #008080; text-align: center;"><b>Our Vision</b></h1>
  <hr>
  
  <h3 style="text-align: center; padding: 25px;">Vision statement here</h3>
  <br>

  <h1 style="color: #008080; text-align: center;"><b>Our Values</b></h1>
  <hr>
  
  <h3 style="text-align: center; padding: 25px;">Our Core Values Here</h3>
  <br>

</div>


  <!-- media feeds -->
  <%= render "media" %>


</div>
