<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<div class="row">
  <div class="col-md-12 aboutus-background"></div>

  <div class="col-md-6">
    <h1 class="aboutus-subtitle"><b>Mission </b></h1>
    <hr>
    <div class="text-center">
    <h3 class="fa fa-quote-left fa-4x"></h3>
    <h3 class="statement">Creating communication paths any individual/organization in need via software development</h3>
    </div>
    <br>
  
    <h1 class="aboutus-subtitle"><b>Vision</b></h1>
    <hr>
    <h3 class="statement">“Computerizing all information & services in Africa for community betterment”
</h3>
    <br>

  </div>

  <div class="col-md-6">
    <h1 class="aboutus-subtitle"><b>Values </b></h1>
    <hr>
    <h3 class="statement">This is what to expect from us:</h3>
    <br>
    <ul>
    <h4 class="statement">Customer care</h4>
    <h4 class="statement">Professionalism</h4>
    <h4 class="statement">Creativity</h4>
    <h4 class="statement">Critical Thinking</h4>
    <h4 class="statement">Determination</h4>
    <h4 class="statement">Time Management</h4>
    <h4 class="statement">Accountability</h4>
    <h4 class="statement">Integrity</h4>
    <h4 class="statement">Empathy</h4>
    <h4 class="statement">Problem Solving</h4>
    </ul>
    <br>

  </div>

  </div>

  <!-- media feeds -->
  <%= render "pages/media" %>

</div>