<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 hidden-xs contactus-background">
      <h1 style="color:   #0b1e31; font-size: 60px; margin-left: 250px;"><b>Contact Us</b></h1>
    </div>
    <br>
    <br>
    <div class="row">
      <!-- Phone & email -->
      <div class="col-md-6 hidden-xs" style="margin-top:20px;">
        <div class="thumbnail">
          <div class="glyphicon glyphicon-envelope contact-icon"></div>
          <h1><center><b>nexpals250@gmail.com</b></center></h1>

          <div class="glyphicon glyphicon-phone contact-icon"></div>
          <h1><center><b>+250787914666</b></center></h1>

        </div>
      </div>

      <!-- contact us form -->
      <div class="col-md-6 col-xs-12" style="margin-top:20px;">
        <div class="thumbnail contacts-box">      
          <h1 class="text-center" style="color:  #0b1e31;"> <b>Leave a Message</b></h1>
          <%= render "questions/form" %>          

        </div>
      </div>
    </div>

    </div>

    </div>
  </div>
</div>