<div class="row">


  <div class="col-md-12 contactus-background">
    <h1 style="color:   #008080; font-size: 60px; margin-left: 250px;"><b>Contact Us</b></h1>
  </div>

<!-- Phone & email -->
  <div class="col-md-6">  

    <div class="thumbnail" style="
      margin-left: 150px;
      margin-top: -50px;
      height: 300px;
      width: 500px; 
      background-color:#DCDCDC;
      box-shadow: 10px 10px 20px 10px grey;
      border-radius: 10%">

      <div class="glyphicon glyphicon-envelope" style="
        position: absolute;
        left:60%;
        font-size: 40px;
        box-shadow: 10px 10px 5px grey;
        color:#008080;"></div>
      
      <br><br><br><br>

      <h1 class="text-center" style="color:#ffffff;"><b>nexpals250@gmail.com</b></h1>

      <hr>

      <div class="glyphicon glyphicon-phone" style="
        position: absolute;
        left:60%; 
        font-size: 40px;
        box-shadow: 10px 10px 5px grey;
        top: 50%;
        color:   #008080;">
      </div>
      <br>

      <h1 class="text-center" style="color:#ffffff;"><b>+250780000000</b></h1>

    </div>
  </div>


<!-- contact us form -->

  <div class="col-md-6">

    <div class="thumbnail" style="
      margin-left: 80px;
      margin-top: -50px;
      height: 300px;
      width: 500px;
      background-color:#DCDCDC;
      box-shadow: 10px 10px 20px 10px grey;
      border-radius: 10%">
      
      <h1 class="text-center" style="color:  #008080;"> <b>Leave a Message</b></h1>

      <ul>
        <div class="btn-group">
          <ul class="nav navbar-nav">

           <%= render "questions/form" %>                     

          </ul>
        </div>
      </ul>

      </div>
    </div>


</div>