<style> 
  .myNavbar { display: none }
  .myFooter { display: none }
</style>


<div class="home-background">
  <div class="col-md-9">
    <br><br> <br> <br> <br> <br> <br>
    <p class="text-center welcome-note">Welcome to NexPals,</p>
    <br>
    <h1 class="text-center hook1"><b>Just Dream it!!</b></h1>
    <h2 class="text-center hook2">We'll do the magic with web Development</h2>
  </div>

  <div class="col-md-3" style="margin-top: 100px;">
   <nav> 
    <ul">
     <a href="/posts" class="btn corner-2 home-button">Blog</a> <br>
     <a href="/projects" class="btn corner-3 home-button">Projects</a> <br>
     <a href="/services" class="btn corner-1 home-button">Services</a> <br>
     <a href="/aboutus" class="btn corner-2 home-button">About Us</a> <br>
     <a href="/contactus" class="btn corner-3 home-button">Contact Us</a> <br>
    </ul>
   </nav>
 </div>
</div>