<style> 
  .myNavbar { display: none }
  .myFooter { display: none }
</style>


<div class="home-background">

  <div class="col-md-9">

    <br><br> <br>
    <p class="text-center" style="color: white; font-size: 25px;">Welcome to NexPals,</p>
    <br>
    <h1 class="text-center" style="color: #9B8718; font-size: 100px;font-family: 'Dancing Script', cursive;"><b>Just Dream it!!</b></h1>
    <h2 class="text-center" style="color: #89B0C5;">We'll do the magic with web Development</h2>

  </div>

  <div class="col-md-3" style="margin-top: 100px;">     

   <nav> <ul">

     <a href="/posts" class="btn corner-2" style="margin-bottom:15px;width: 200px;border-radius: 20%;">Blog</a> <br>
     <a href="/projects" class="btn corner-3" style="margin-bottom:15px;width: 200px;border-radius: 20%;">Projects</a> <br>
     <a href="/services" class="btn corner-1" style="margin-bottom:15px;width: 200px;border-radius: 20%;">Services</a> <br>
     <a href="/aboutus" class="btn corner-2" style="margin-bottom:15px;width: 200px;border-radius: 20%;">About Us</a> <br>
     <a href="/contactus" class="btn corner-3" style="margin-bottom:15px;width: 200px;border-radius: 20%;">Contact Us</a> <br>

   </ul> </nav>
 </div> 

</div>
