<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
        <div class="thumbnail">
          <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
        </div>
      </li>
      <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
      <div class="thumbnail">
          <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg">
        </div>
      </li>
      <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
      <div class="thumbnail">
          <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
        </div>
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1" style="background-image: url(https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg);"></div>
        <div class="container">
          <div class="carousel-caption">
            <p>Welcome to NexPals Blog</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Subscribe Today</button>
          </div>
        </div>
      </div>
      <% @posts.each do |post|%>
        <div class="item slides">
          <div class="slide-2" style="background-image: url(<%= post.url %>);"></div>
          <div class="container">
            <div class="carousel-caption">
              <p><%= post.title %></p>
              <p><a class="btn-gradient cyan mini" href="/posts/<%=post.slug %>" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> 


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Subscription</h4>
      </div>
      <%= form_tag "/news_letters" do %>
        <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Your Email</label>
              <input type="email" class="form-control" id="recipient-name" required="required" name="email">
            </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn-gradient orange mini" data-dismiss="modal">Close</button>
          <button type="submit" class="btn-gradient cyan mini">Send</button>
      </div>
      <% end %>
    </div>
  </div>
</div>