<div class="container-fluid">
  
<div class="hidden-xs col-md-2 thumbnail" 
  style="
  background-color: #B0C4DE;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
  margin-left: 10px;
  width: 280px">
    
    <a href="https://twitter.com/NexPals" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @NexPals</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     <a class="twitter-timeline" data-lang="en" data-height="500" href="https://twitter.com/NexPals">Tweets by NexPals</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div> 
</div>