<div class="container-fluid">
  
<div class="hidden-xs col-md-2 thumbnail" 
  style="
  background-color: #B0C4DE;
  box-shadow: 10px 10px 5px grey;
  margin-top: 20px;
  margin-left: 10px;
  width: 280px">

    <a href="https://twitter.com/luc_wizz" class="twitter-follow-button" data-show-count="false">Follow @luc_wizz</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a class="twitter-timeline"  data-height="500" data-link-color="#2B7BB9" href="https://twitter.com/luc_wizz">Tweets by luc_wizz</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> 

  </div> 
</div>