<div class="container-fluid">
<div class="row">
  <%= render "posts/carousel" %> 

  <!-- List of Posts -->
  <br>
  <div class="col-xs-12 col-md-2 thumbnail" style="background-color: #B0C4DE; box-shadow: 10px 10px 5px grey; margin-right: 10px; margin-top: 20px">

    <h2 class="text-center">Filter</h2>
    <hr>
    <div class="text-center">
      <a href="" style="color: #008080;"> This week</a> <br> <hr>
      <a href="" style="color: #008080;"> Technology</a> <br> <hr>
      <a href="" style="color: #008080;"> NexPals</a> <br> <hr>
    </div>

  </div>

  

  <div class="col-xs-12 col-md-7" style="margin-top: 20px">
    <div class="row">

      <ul class="pull-right c-controls">
        <a role="button" href="/posts/new" data-toggle="tooltip" data-placement="top" title="add"> <i class="glyphicon glyphicon-plus" style="font-size: 30px"></i></a>
      </ul>

         <!-- first box -->
        <div id="my-posts">
           <%= render "post" %>
        </div>
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        <div class="loader"></div>  


    </div>
  </div>

  <!-- media feeds -->
  <%= render "twitter" %>


</div>

</div>

