<p>
  Hi, 

  Thank you for subscribing to NexPals' NewsLetter. follow the this link to comfirm your email on the list
  <%= confirm_email_news_letter_url(@subscription.confirm_token) %>
  <%= @subscription.email %>
</p>
