
#nameee{
  font-size: 40px;
  color:  #DAA520;
}
#icon1{
  font-size: 19px;
}

#icon1{
  font-size: 19px;
}
#icon2{
  font-size: 19px;
}
#icon3{
  font-size: 19px;
}
#icon4{
  font-size: 19px;
}
#icon5{
  font-size: 19px;
}
#icon6{
  font-size: 19px;
}
#icon7{
  font-size: 19px;
}
 .final {
  font-family: 'Cormorant Garamond', serif;
}

.work {
  font-size: 16px;
}

#social {
  font-size: 16px;
}

#design{
font-size: 16px;
}

#vision{
font-size: 16px;
}

#intro{
  font-size: 16px;
}

#name {
  padding-right: 100px;
}

#contactss{
  font-size: 16px;
}

#footerr{
  font-size: 18px;
}

.numero{
  font-size: 15px;
}

.pay{
  font-size: 16px;
}