// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






}

// Contact us page

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}


.contactus-background{
  background-image: url('contactus.jpg');
  height: 300px;
  width: 100%;
}

.contacts-box {
/*  margin: 20px; 
  height: 300px;
  width: 500px;*/ 
  background-color:#DCDCDC;
  box-shadow: 10px 10px 20px 10px grey;
  border-radius: 10px;
}

.contact-icon {
  padding-left: 45%;
  padding-right:45%;
  padding-top: 30px;
  font-size: 40px;
  color:#0b1e31;
  text-shadow: 4px 8px 4px #acafb1;
}

.contacts {
  color: #AEAAA9;
  text-shadow: 4px 8px 4px #E5E5E5;
}

/*.input-box {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}*/

.contactus-textarea{
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.submit-button {
  height: 50px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: #0b1e31;
  color: white;
  box-shadow: 5px 5px 2px grey;
}


// home page

.home-background {
  background-image: url('homelighter.jpg');
  height: 130%;
  width: 100%;
  /*opacity: 0.7;
  filter: blur(4px);*/
  padding-top: 0px;
}

.home-button {
  margin-bottom:15px;
  width: 200px;
  border-radius: 20%;
}

.hook1 {
  color: #9B8718;
  font-size: 100px;
  ont-family: 'Cormorant SC', serif;
}

.hook2 {
  color: #89B0C5;
}

.welcome-note {
  color: white;
  font-size: 25px;
}


@mixin corners($shape, $size, $color) {
 
  $n1: $size+px;
  $n2: ($size)*2+px;
  $n3: $size+1+px;
  $pn: 0%;
  @if ($size <= 10) { $pn: 6%; }
  @elseif ($size <= 15) { $pn: 5%; }
  @elseif ($size <= 20) { $pn: 4%; }
  @elseif ($size <= 40) { $pn: 3%; }
  @elseif ($size <= 50) { $pn: 2%; }
  @elseif ($size <= 60) { $pn: 1%; }
  $pd-scoop: 64%+$pn;
  
  @if ($shape == "bevel") {
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left,
          linear-gradient(135deg,  transparent 49%, $color 50% ) no-repeat top left,
          linear-gradient(-135deg, transparent 47%, $color 48% ) no-repeat top right,
          linear-gradient(45deg,   transparent 47%, $color 48% ) no-repeat bottom left,
          linear-gradient(-45deg,  transparent 46%, $color 47% ) no-repeat bottom right;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2}), $n3 $n3, $n3 $n3, $n3 $n3, $n3 $n3;
  }
  
  @if ($shape == "scoop") {
    $t-t: t t; // compiler bug hack
    $t-b: t b; // compiler bug hack
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left,
          radial-gradient(a+$t-t+op left,     transparent 64%, $color $pd-scoop ) no-repeat top left,
          radial-gradient(a+$t-t+op right,    transparent 64%, $color $pd-scoop ) no-repeat top right,
          radial-gradient(a+$t-b+ottom left,  transparent 64%, $color $pd-scoop ) no-repeat bottom left,
          radial-gradient(a+$t-b+ottom right, transparent 64%, $color $pd-scoop ) no-repeat bottom right;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2}), $n3 $n3, $n3 $n3, $n3 $n3, $n3 $n3;
  }
  
  @if ($shape == "notch") {
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2});
  }
  
}

.corner-1 {
  transition: all 0.3s;
  @include corners('scoop', 10, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('scoop', 10, #10253a);
  }
  &:hover {
    @include corners('scoop', 27, #9B8718);
    &:after { @include corners('scoop', 27, #10253a); }
  }
}

.corner-2 {
  transition: all 0.3s;
  @include corners('bevel', 16, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('bevel', 16, #10253a);
  }
  &:hover {
    @include corners('bevel', 40, #9B8718);
    &:after { @include corners('bevel', 40, #10253a);}
  }
}

.corner-3 {
  transition: all 0.3s;
  @include corners('notch', 5, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('notch', 5, #10253a);
  }
  &:hover {
    @include corners('notch', 15, #9B8718);
    &:after { @include corners('notch', 15, #10253a); }
  }
}

.btn {
  display: inline-block;
  padding: 20px 30px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #fff;
  text-decoration: none;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 0;
    z-index: -1;
  }
}

nav {
  position: absolute;
  left: 0;
  // top: 50%;
  // margin-top: -40px;
  width: 100%;
  text-align: center;
}

.slogan:hover{
  background-color: #008080;
}

// faq page
.faq-background{
  background-image: url('ask.jpg');
 height: 350px;
 width: 100%;
}

// about us page
.aboutus-background {
  background-image: url('aboutus.jpg');
  height: 350px;
  width: 100%;
  font-family: 'Crimson Text'
}

.aboutus-subtitle {
  color: #0b1e31;
  text-align: center;
}

.statement {
  text-align: center;
}




// faqs


.faq-background{
  background-image: url('ask.jpg');
 /* background-repeat: no-repeat;*/
 height: 350px;
 width: 100%;
}




// Home

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}


/*error page*/
.f-left{
     float:left;
 }
 .f-right{
     float:right;
 }
 .clear{
     clear: both;
     overflow: hidden;
 }
 #block_error{
     width: 845px;
     height: 384px;
     border: 1px solid #cccccc;
     margin: 72px auto 0;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
 }
 #block_error div{
     padding: 100px 40px 0 186px;
 }
 #block_error div h2{
     color: #218bdc;
     font-size: 24px;
     display: block;
     padding: 0 0 14px 0;
     border-bottom: 1px solid #cccccc;
     margin-bottom: 12px;
     font-weight: normal;
 }


// finaaaaaaaaaaaaaaaaaaaaaaaaaaaaal 

