// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// Contact us page

.contactus-background{
  background-image: url('contactus.jpg');
  height: 300px;
  width: 100%;
}

.contacts-box {
  margin: 20px; 
  height: 300px;
  width: 500px; 
  background-color:#DCDCDC;
  box-shadow: 10px 10px 20px 10px grey;
  border-radius: 10px;
}

.contact-icon {
  padding-left: 45%;
  padding-right:45%;
  padding-top: 30px;
  font-size: 40px;
  color:#0b1e31;
  text-shadow: 4px 8px 4px #acafb1;
}

.contacts {
  color: #AEAAA9;
  text-shadow: 4px 8px 4px #E5E5E5;
}

.input-box {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

.contactus-textarea{
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.submit-button {
  height: 50px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: #0b1e31;
  color: white;
  box-shadow: 5px 5px 2px grey;
}


// home page

.home-background {
  background-image: url('homelighter.jpg');
  height: 130%;
  width: 100%;
  /*opacity: 0.7;
  filter: blur(4px);*/
  padding-top: 0px;
}

.home-button {
  margin-bottom:15px;
  width: 200px;
  border-radius: 20%;
}

.hook1 {
  color: #9B8718;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
}

.hook2 {
  color: #89B0C5;
}

.welcome-note {
  color: white;
  font-size: 25px;
}


@mixin corners($shape, $size, $color) {
 
  $n1: $size+px;
  $n2: ($size)*2+px;
  $n3: $size+1+px;
  $pn: 0%;
  @if ($size <= 10) { $pn: 6%; }
  @elseif ($size <= 15) { $pn: 5%; }
  @elseif ($size <= 20) { $pn: 4%; }
  @elseif ($size <= 40) { $pn: 3%; }
  @elseif ($size <= 50) { $pn: 2%; }
  @elseif ($size <= 60) { $pn: 1%; }
  $pd-scoop: 64%+$pn;
  
  @if ($shape == "bevel") {
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left,
          linear-gradient(135deg,  transparent 49%, $color 50% ) no-repeat top left,
          linear-gradient(-135deg, transparent 47%, $color 48% ) no-repeat top right,
          linear-gradient(45deg,   transparent 47%, $color 48% ) no-repeat bottom left,
          linear-gradient(-45deg,  transparent 46%, $color 47% ) no-repeat bottom right;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2}), $n3 $n3, $n3 $n3, $n3 $n3, $n3 $n3;
  }
  
  @if ($shape == "scoop") {
    $t-t: t t; // compiler bug hack
    $t-b: t b; // compiler bug hack
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left,
          radial-gradient(a+$t-t+op left,     transparent 64%, $color $pd-scoop ) no-repeat top left,
          radial-gradient(a+$t-t+op right,    transparent 64%, $color $pd-scoop ) no-repeat top right,
          radial-gradient(a+$t-b+ottom left,  transparent 64%, $color $pd-scoop ) no-repeat bottom left,
          radial-gradient(a+$t-b+ottom right, transparent 64%, $color $pd-scoop ) no-repeat bottom right;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2}), $n3 $n3, $n3 $n3, $n3 $n3, $n3 $n3;
  }
  
  @if ($shape == "notch") {
    background: $color;
    background:
          linear-gradient(to right , $color 0, $color 100%) no-repeat top center,
          linear-gradient(to bottom, $color 0, $color 100%) no-repeat center left;
    background-size: calc(100% - #{$n2}) 100%, 100% calc(100% - #{$n2});
  }
  
}

.corner-1 {
  transition: all 0.3s;
  @include corners('scoop', 10, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('scoop', 10, #10253a);
  }
  &:hover {
    @include corners('scoop', 27, #9B8718);
    &:after { @include corners('scoop', 27, #10253a); }
  }
}

.corner-2 {
  transition: all 0.3s;
  @include corners('bevel', 16, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('bevel', 16, #10253a);
  }
  &:hover {
    @include corners('bevel', 40, #9B8718);
    &:after { @include corners('bevel', 40, #10253a);}
  }
}

.corner-3 {
  transition: all 0.3s;
  @include corners('notch', 5, #0b1e31);
  &:after {
    transition: all 0.3s;
    @include corners('notch', 5, #10253a);
  }
  &:hover {
    @include corners('notch', 15, #9B8718);
    &:after { @include corners('notch', 15, #10253a); }
  }
}

.btn {
  display: inline-block;
  padding: 20px 30px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #fff;
  text-decoration: none;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 0;
    z-index: -1;
  }
}

nav {
  position: absolute;
  left: 0;
  // top: 50%;
  // margin-top: -40px;
  width: 100%;
  text-align: center;
}

.slogan:hover{
  background-color: #008080;
}


// about us page

.aboutus-background {
  background-image: url('aboutus.jpg');
  /* background-repeat: no-repeat;*/
  height: 350px;
  width: 100%;
}

.aboutus-subtitle {
  color: #0b1e31;
  text-align: center;
}

.statement {
  text-align: center;
}

// faq page

.faq-background{
  background-image: url('ask.jpg');
 /* background-repeat: no-repeat;*/
 height: 350px;
 width: 100%;
}