// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.app-image {
  width: 100%;
  height: auto;
}

.work-app-box {
  margin: 20px;
  height: 250px;
  border-color: transparent;
  box-shadow: 2px 4px 2px #AEB9B9;
}

.app-description {
  height: 200px;
  overflow: auto;
}








.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > {
    background-color: #428bca;
}
.with-nav-tabs.panel-primary .nav-tabs > {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs >
.with-nav-tabs.panel-primary .nav-tabs > {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs >,
.with-nav-tabs.panel-primary .nav-tabs >,
.with-nav-tabs.panel-primary .nav-tabs >{
    background-color: #4a9fe9;
}