// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.service-box {
  background-color:   #0b1e31;
  box-shadow: 10px 10px 5px grey;
  margin: 20px;
  height: 300px;
  overflow: auto;
  font-size: 20px;
}

.service-title {
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 25px;
  color: #d5d7d9;
}

.service-icon {
  font-size: 80px;
  color: #c6c8c9;
}