// Place all the styles related to the testimonies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.video-box {
  width:470px;
  height:350px;
}

.video-size {
  width:420px;
  height:315px;
  padding: 0px;
}